@charset"UTF-8";
@import "common/common";

/*好友详情页*/

.wrap {
    color: #707070;
    .level {
        position: relative;
        width: 11.2rem;
        height: 16.2rem;
        padding: 0.12rem;
        margin: 1.76rem auto 0;
        border-radius: 0.4rem;
        box-shadow: 0 0 0.5rem #ddd;
        background: url(../img/static/cardBg.png) no-repeat;
        background-size: contain;
        .imgWrap {
            width: 4.06rem;
            height: 5.72rem;
            position: absolute;
            top: 5.45rem;
            left: 1.7rem;
            img {
                width: 100%;
                height: 100%;
            }
            input{
                position: absolute;
                width: 2.7rem;
                left: 0.7rem;
                bottom: 0.5rem;
            }
        }
        .infoWrap {
            color: #fff;
            overflow: hidden;
            .left {
                position: absolute;
                top: 5.4rem;
                left: 6.8rem;
                font-size: 0.56rem;
                color: #A5A5A5;
                .nick {
                    color: #0B0B0B;
                    font-size: 0.8rem;
                }
            }
            .right {
                position: absolute;
                top: 8.79rem;
                left: 7.46rem;
                width: 2.45rem;
                height: 2.45rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .state {
        margin: 0.64rem 0;
        font-size: 0.52rem;
        text-align: center;
    }
    .botBtn {
        text-align: center;
        .save,
        .share {
            display: inline-block;
            width: 6.74rem;
            height: 1.8rem;
            border-radius: 0.9rem;
            border: 2px solid #9CE0F2;
            line-height: 1.8rem;
            text-align: center;
            color: #9CE0F2;
            font-size: 0.64rem;
        }
        .save {
            width: 4.18rem;
        }
        .share {
            height: 1.9rem;
            background: url(../img/static/share.png) no-repeat;
            background-size: 100% 100%;
            border: none;
            color: #fff;
        }
    }
}