@charset"UTF-8";
@import "common/common";

/*好友详情页*/

.wrap {
    color: #707070;
    .level {
        position: relative;
        width: 13.6rem;
        height: 16.9rem;
        margin: 0.8rem auto 0;
        border-radius: 0.4rem;
        box-shadow: 0 0 0.5rem #ddd;
        text-align: center;
        .dataList {
            text-align: left;
            li {
                height: 2.36rem;
                padding: 0 0.6rem;
                line-height: 2.36rem;
                border-bottom: 1px solid #E9E9E9;
                input {
                    margin-top:0.68rem;
                    float: right;
                    line-height: 1rem;
                }
                input[type=text]{
                    width: 7rem;
                    text-align: right;
                }
                label {
                    float: right;
                    margin-left: 1.6rem;
                    input {
                        float: initial;
                        margin: 0 0.46rem;
                    }
                }
                select {
//                  float: right;
                    width: 2rem;
                    margin-top: 0.8rem;
                }
                #uage{
                    width: 1rem;
                    float: right;
                }
            }
            li:last-child {
                border-bottom: none;
            }
        }
        .comfirmBtn {
            display: inline-block;
            width: 6rem;
            height: 1.84rem;
            margin: 1.52rem auto 0;
            border-radius: 0.9rem;
            line-height: 1.84rem;
            color: #fff;
            font-size: 0.64rem;
            text-align: center;
            background: url(../img/static/save.png) no-repeat;
            background-size: contain;
        }
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #A6A6A6;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A6A6A6;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A6A6A6;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #A6A6A6;
}