@charset"UTF-8";
@import "common/common";

/*好友详情页*/

.wrap {
    padding-bottom: 1.72rem;
    color: #707070;
    font-size: 0.56rem;
    text-align: center;
    .top {
        width: 15rem;
        height: 10rem;
        color: #fff;
        background: url(../img/static/centerBg.png) no-repeat;
        background-size: contain;
        overflow: hidden;
        .portrait {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            overflow: hidden;
            border: 0.14rem solid #C6EDF7;
            margin: 1.28rem auto 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .nick {
            margin-top: 0.2rem;
            text-align: center;
            font-size: 0.72rem;
        }
        .userNum {
            font-size: 0.72rem;
            text-align: center;
        }
        .userInfo {
            margin-top: 0.8rem;
            font-size: 0.56rem;
            text-align: center;
            span {
                margin: 0 1.32rem;
            }
        }
    }
    .card {
        position: relative;
        width: 13.7rem;
        height: 16.8rem;
        margin: 1.12rem auto 0;
        border-radius: 0.4rem;
        box-shadow: 0 0 0.5rem #ddd;
        overflow: hidden;
        .cardWrap {
            width: 10.9rem;
            height: 14rem;
            margin: 0.72rem auto 0;
            padding: 0.6rem;
            position: relative;
            border: 0.1rem dashed #DADADA;
            .cardNum{
                text-align: left;
            }
            .honorName{
                font-size: 0.72rem;
                margin-top: 0.5rem;
            }
            .cardName{
                font-size: 1.64rem;
                font-weight: bold;
                color: #FF0000;
            }
            .stars{
                margin: 0.3rem 0 0.5rem;
                p{
                    font-size: 0.56rem;
                    margin-bottom: 0.2rem;
                }
                img{
                    width: 0.6rem;
                }
            }
            .uname{
                font-size: 0.8rem;
                font-weight: bold;
            }
            .state{
                padding: 0.7rem 0.8rem;
                text-align: left;
            }
            .bottom{
                .blank{
                    float: left;
                    width: 3.34rem;
                    height: 3.34rem;
                    background: #E6E6E6;
                }
                .guanfang{
                    float: right;
                    font-size: 0.56rem;
                    margin-top: 1rem;
                }
            }
        }
    }
    .toCenter,
    .toSave,
    .toShare
     {
        width: 6.4rem;
        height: 1.9rem;
        margin: 1.12rem auto 0;
        border-radius: 0.9rem;
        border: 2px solid #9CE0F2;
        line-height: 1.9rem;
        text-align: center;
        color: #9CE0F2;
        font-size: 0.64rem;
    }
    
    .toSave,
    .toShare{
        display: inline-block;
        margin-top: 0.8rem;
        border: none;
        color: #fff;
    }
    .toSave{
        background: url(../img/static/save.png) no-repeat;
        background-size: contain;
    }
    .toShare{
        background: url(../img/static/share.png) no-repeat;
        background-size: contain;
    }
}