@charset"UTF-8";
@import "common/common";

/*好友详情页*/

.wrap {
    color: #707070;
    font-size: 0.56rem;
    .top {
        position: relative;
        width: 13.8rem;
        height: 2.4rem;
        padding: 0.8rem 0.6rem 0;
        overflow: hidden;
        .inp {
            width: 10.08rem;
            height: 1.5rem;
            border-radius: 0.74rem;
            background: #F2F2F2;
            padding-left: 1.4rem;
        }
        .searchIcon{
            position: absolute;
            left: 1rem;
            top: 1.26rem;
            width: 0.66rem;
            height: 0.58rem;
        }
        .search {
            float: right;
            line-height: 1.5rem;
            margin-right: 0.4rem;
            font-size: 0.6rem;
        }
    }
    .teamlist {
        position: relative;
        width: 12.5rem;
        height: 13rem;
        padding: 0.8rem 0.6rem 0;
        margin: 0.8rem auto 0;
        border-radius: 0.4rem;
        box-shadow: 0 0 0.5rem #ddd;
        .teamer {
            li {
                margin-bottom: 0.6rem;
                overflow: hidden;
                img {
                    float: left;
                    width: 2.4rem;
                    height: 2.4rem;
                    border-radius: 50%;
                    vertical-align: middle;
                }
                .nick {
                    float: left;
                    font-size: 0.56rem;
                    margin: 0.5rem 0 0 0.5rem;
                    .teamId {
                        font-size: 0.48rem;
                        color: #A6A6A6;
                    }
                }
                .join {
                    width: 4rem;
                    height: 1.6rem;
                    margin-top: 0.3rem;
                    float: right;
                    line-height: 1.6rem;
                    text-align: center;
                    background: url(../img/static/join.png);
                    background-size: 100% 100%;
                    color: #fff;
                }
                .hasjoin{
                    float: right;
                     width: 4rem;
                     text-align: center;
                    line-height: 1.6rem;
                }
            }
        }
    }
    .alert {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .cover {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
        }
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -5.25rem 0 0 -5.9rem;
            width: 11.8rem;
            height: 10.54rem;
            background: #fff;
            border-radius: 0.7rem;
            text-align: center;
            .tips1 {
                margin-top: 2rem;
                font-size: 0.56rem;
                line-height: 1rem;
                span {
                    color: #6AD4FE;
                }
            }
            .tips2 {
                font-size: 0.56rem;
                line-height: 1.1rem;
            }
            .toJoin {
                width: 6.8rem;
                height: 1.9rem;
                margin: 2.2rem auto 0;
                border-radius: 0.95rem;
                line-height: 1.9rem;
                text-align: center;
                background: url(../img/static/share.png) no-repeat;
                background-size: 100% 100%;
                color: #fff;
            }
            .toCreate {
                margin-top: 0.6rem;
                color: #A0A0A0;
            }
        }
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #A6A6A6;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A6A6A6;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A6A6A6;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #A6A6A6;
}