@charset"UTF-8";
@import "common/common";

/*好友详情页*/

.wrap {
    .top {
        width: 15rem;
        height: 10rem;
        color: #fff;
        background: url(../img/static/centerBg.png) no-repeat;
        background-size: contain;
        overflow: hidden;
        .portrait {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            overflow: hidden;
            border: 0.14rem solid #C6EDF7;
            margin: 1.28rem auto 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .team {
        position: relative;
        width: 11.7rem;
        height: 12.2rem;
        margin: -2.5rem auto 0;
        padding: 1.6rem 1rem;
        border-radius: 0.4rem;
        box-shadow: 0 0 0.5rem #ddd;
        background: #fff;
        overflow: hidden;
        color: #707070;
        .til {
            font-size: 0.72rem;
            line-height: 1.2rem;
        }
        .noteam {
            font-size: 0.52rem;
            line-height: 1rem;
        }
        .toJoin,
        .toCreate {
            width: 6.4rem;
            height: 1.9rem;
            margin: 1rem auto 0;
            border-radius: 1rem;
            border: 2px solid #9CE0F2;
            line-height: 1.9rem;
            text-align: center;
            color: #9CE0F2;
            font-size: 0.64rem;
        }
        .toCreate {
            margin-top: 3rem;
            border: none;
            color: #fff;
            background: url(../img/static/save.png) no-repeat;
            background-size: contain;
        }
    }
}